/university/java/inheritance/target/
/university/java/inheritanceMultilevel/target/
/university/java/normalInheritance/target/
/university/java/abstraction/target/
/university/java/labTask2/target/
/university/java/prac/target/
/university/java/InterfacePractice/target/
/university/java/mavenproject1/target/
/university/java/LabAssignment/target/
/university/java/LabAssignmentQ2/target/
/university/java/QuizRush/target/
/university/java/UniversityManagementSystem/target/
/university/java/practice/target/
/university/java/threading/ThreadMain/target/
/university/java/threading/ThreadMain/CustomThreads/target/
/university/java/threading/MultiThread/target/
/university/java/threading/join/target/
/university/java/threading/aliveandjoin/target/
/university/java/exception/example1/target/
/university/java/threading/Priority/target/
/university/java/threading/Sync/target/
*.xlsx
